@charset "UTF-8";
.resetStyle {
  font-family: PingFangSC-Regular, "微软雅黑", sans-serif;
  color: #333;
}

.resetStyle a {
  text-decoration: none;
  color: #333;
}

.resetStyle ul, .resetStyle li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resetStyle p {
  margin: 0;
}

.ie-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

.ie-warning h1 {
  margin: 0 0 30px;
}

.ie-warning p {
  font-size: 16px;
}

.ie-warning .ie-container {
  min-width: 1024px;
  width: 100%;
  height: 200px;
  background: #fff;
  margin: 60px 0;
}

.ie-warning .ie-download {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  width: 720px;
}

.ie-warning .ie-download > li > a {
  display: block;
  color: #000;
  width: 140px;
  font-size: 15px;
  padding: 15px 0;
  margin: 0 auto;
}

.ie-warning .ie-download > li > a > div {
  margin-top: 10px;
}

.ie-warning .ie-download > li > a:hover {
  background-color: #eee;
}

.markdown-text p {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
}

.markdown-text img {
  max-width: 100%;
  height: auto;
}

#backtop {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

@media (max-width: 767px) {
  #backtop {
    right: 10px;
    bottom: 10px;
  }
}

#backtop.on {
  opacity: 1;
  visibility: visible;
}

#backtop .sidetop {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: 0.3s;
  border: 1px solid #eee;
  background: #eee url(../images/side_icon.png) center/cover no-repeat;
}

@media (max-width: 767px) {
  #backtop .sidetop {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  #backtop .sidetop:hover {
    opacity: 1;
    background: #ffc200 url(../images/side_icon-w.png) center/cover no-repeat;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}
