$main: #ffc200;
$black: #333;
$font: PingFangSC-Regular, "微软雅黑", sans-serif;
$a: "Arial";

$min-xs: 'min-width: 576px';
$min-sm: 'min-width: 768px';
$min-md: 'min-width: 992px';
$min-lg: 'min-width: 1200px';
$min-bg: 'min-width: 1600px';

$max-bg: 'max-width: 1599px';
$max-lg: 'max-width: 1199px';
$max-md: 'max-width: 991px';
$max-sm: 'max-width: 767px';
$max-xs: 'max-width: 575px';